#cloud-config
# Bootstrap only. Full router policy is homelab/vyos/config.boot.j2 via vyos/01-config.yml.
{% set ssh_fields = lookup('ansible.builtin.file', playbook_dir ~ '/../ssh/macbook.pub').split() %}
vyos_config_commands:
  - delete interfaces ethernet eth0 address 'dhcp'
  - set interfaces ethernet eth0 hw-id '02:00:00:00:00:00'
  - set interfaces ethernet eth0 description 'LAN trunk'
  - set interfaces ethernet eth0 vif 10 address '10.10.10.1/24'
  - set interfaces ethernet eth0 vif 10 description 'VLAN 10 trusted'
  - set interfaces ethernet eth1 hw-id '02:00:00:00:00:01'
  - set interfaces ethernet eth1 description 'WAN'
  - set interfaces ethernet eth2 hw-id '02:00:00:00:00:02'
  - set interfaces ethernet eth2 description 'services'
  - set service ssh
  - set service ssh disable-host-validation
  - set system login user vyos authentication public-keys macbook type '{{ ssh_fields[0] }}'
  - set system login user vyos authentication public-keys macbook key '{{ ssh_fields[1] }}'
