[defaults]
inventory = inventory.yml
retry_files_enabled = false
gathering = explicit
interpreter_python = auto_silent
host_key_checking = true
timeout = 30
diff = true

[persistent_connection]
connect_timeout = 60
command_timeout = 120
